.location {
    display: flex;
    flex-direction: column;
    &-card {
        margin: 10px;
        margin-left: 0;
        margin-right: 0;
        height: 255px;
        width: 335px;
        left: 0px;
        top: 0px;
        border-radius: 10px;
        &__title {
            position: relative;
            color: #FFFFFF;
            bottom: 80px;
            left: 20px;
            width: 200px;
        }
        &__image {
            background-color: #FF6060;
            border-radius: 10px;
            padding: 10px;
            padding-bottom: 80px;
            object-fit: cover;
            width: 300px;
            height: 100%;
        }
    }
}