@mixin mobile-500 {
    @media screen and (min-width: map-get($breakpoints, mobile-500)){
    @content;
    }
}

@mixin mobile-650 {
    @media screen and (min-width: map-get($breakpoints, mobile-650)){
    @content;
    }
}

@mixin tablet {
    @media screen and (min-width: map-get($breakpoints, tablet)){
    @content;
    }
}

@mixin laptop {
    @media screen and (min-width: map-get($breakpoints, laptop)){
    @content;
    }
}

@mixin desktop {
    @media screen and (min-width: map-get($breakpoints, desktop)){
    @content;
    }
}

@mixin marginAuto {
    margin-left: auto;
    margin-right: auto;
}

@mixin flexboxAlign {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

// .stars {
//     padding: 2px;
//     @include laptop {
//         width: 25px;
//     }
// }

// .rating-stars {
//     @include laptop {
//         margin-right: 65px;
//         margin-top: 5px;
//     }
//     @include desktop {
//         margin-right: 90px;
//         margin-top: 5px;
//     }
// }