.accordion {
    &-item {
        margin: 10px;
        margin-left: auto;
        margin-right: auto;
        list-style: none;
        margin-bottom: 20px;
        width: 90%;
        // @include mobile-500 {
        //     margin-left: 40px;
        //     margin-right: 40px;
        // }
        // @include mobile-650 {
        //     margin-left: 60px;
        //     margin-right: 60px;
        // }
        // @include tablet {
        //     margin-left: 80px;
        //     margin-right: 80px;
        // }
        // @include desktop {
        //     margin-left: 120px;
        //     margin-right: 120px;
        // }
        // @include larger {
        //     margin-left: 150px;
        //     margin-right: 150px;
        // }
        & h3 {
            font-size: 12px;
            font-weight: 500;
            @include mobile-500 {
                font-size: 14px;
            }
            @include tablet {
                font-size: 16px;
            }
            @include laptop {
                font-size: 18px;
            }
            @include desktop {
                font-size: 22px;
            }
            @include larger {
                font-size: 28px;
            }
        }
    }
    &-toggle {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 8px;
        padding-left: 8px;
        color: white;
        font-size: 12px;
        font-weight: 400;
        border-radius: 5px;
        cursor: pointer;
        background: #FF6060;
        @include laptop {
            padding-left: 20px;
            padding-right: 20px;
        }
        @include larger {
            padding-left: 30px;
            padding-right: 30px;
        }
    }
    &-content {
        background: #F6F6F6;
        margin: 0;
        color: #FF6060;
        padding: 8px;
        padding-top: 15px;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        @include tablet {
            font-size: 14px;
        }
        @include laptop {
            font-size: 16px;
        }
        @include desktop {
            font-size: 20px;
        }
        @include larger {
            font-size: 28px;
        }
        & li {
            margin-bottom: 5px;
        }
        
    }
}
