.accordion {
    &-item {
        margin: 10px;
        list-style: none;
        margin-bottom: 20px;
        
    }
    &-toggle {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 8px;
        padding-left: 8px;
        color: white;
        font-size: 12px;
        font-weight: 400;
        border-radius: 5px;
        cursor: pointer;
        background: #FF6060;
        
    }
    &-content {
        background: #F6F6F6;
        margin: 0;
        color: #FF6060;
        padding: 8px;
        padding-top: 15px;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        & li {
            margin-bottom: 5px;
        }
        
    }
}
