.carousel {
    
    &-slides {
       
        
        overflow: hidden;
        position: relative;
        &-slides__leftB {
            display: flex;
           
        }
    } 
}
.carousel-picture {
    display: block;
    width: 90%;
    height: 280px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
}

.leftArrow {
    width: 20px;
}

.rightArrow {
    width: 20px;
}

.picture-number {
    opacity: 0;
}