.carousel {
    &-slides {
        position: relative;
        @include tablet {
            margin-bottom: 20px;
        }
    } 
}
.carousel-picture {
    display: block;
    width: 90%;
    height: 280px;
    object-fit: cover;
    @include marginAuto;
    border-radius: 12px;
    @include tablet {
        height: 350px;
    }
    @include laptop {
        height: 400px;
    }
    @include desktop {
        height: 450px;
    }
}

.leftArrow {
    width: 20px;
}

.rightArrow {
    width: 20px;
}

.picture-number {
    opacity: 0;
    color: white;
    @include tablet {
        font-size: 14px;
        font-weight: 500;
        opacity: 1;
        position: absolute;
        left: 50%;
        right: 50%;
        top: 90%;
    }
    @include laptop {
        font-size: 18px;
    }
    @include desktop {
        font-size: 22px;
    }
}