.error-message {
    margin-top: 90px;
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        &-title {
            font-size: 96px;
            color: $primary-color;
            margin: 0;
            @include tablet {
                font-size: 130px;
            }
            @include laptop {
                font-size: 180px;
            }
            @include desktop {
                font-size: 230px;
            }
            @include desktop {
                font-size: 350px;
            }
        }
        &-text {
            text-align: center;
            color: $primary-color; 
            font-size: 16px;
            width: 65%;  
            margin: 0;
            @include tablet {
                margin-top: 30px;
                font-size: 20px;
            }
            @include laptop {
                font-size: 24px;
            }
            @include desktop {
                font-size: 32px;
            }
            @include desktop {
                font-size: 48px;
            }
        }
    }
    &__link {
        margin-top: 100px;
        display: flex;
        justify-content: center;
        color: $primary-color;
        margin-bottom: 40px;
        @include tablet {
            font-size: 12px;
        }
        @include desktop {
            font-size: 16px;
        }
        @include larger {
            font-size: 24px;
        }
    }
}