.footer {
    background-color: black;
    height: 209px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include tablet {
        margin-top: 30px;
    }
    @include laptop {
        margin-top: 50px;
    }
    @include desktop {
        margin-top: 70px;
        padding: 120px;
    }
    &-logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        @include desktop {
            width: 12%;
        } 
    }
    &-title {
        color: white;
        text-align: center;
        @include desktop {
            font-size: 16px;
        }
        @include desktop {
            font-size: 18px;
        }
    }
}