.header-home {
    display: flex;
    align-items: center;
    justify-content: space-around;
    &__logo {
     width: 35%;
     height: 100%;
     margin: 15px;
     margin-right: 0;
    }
    &__nav {
        display: flex;
        font-size: 10px;
        text-transform: uppercase;
        &--accueil {
            padding-right: 15px;
            list-style-type: none;
        }
        &--apropos {
            padding-right: 15px;
            list-style-type: none;
        }
        & ul {
            display: flex;
            margin-top: 20px;
            a {
                color: $primary-color;
                text-decoration: none;
                
                &.active {
                  text-decoration: underline;
                  text-decoration-color: $primary-color;
                  
                }
                & li {
                    display: inline-block;
                    
                  
                }
            }
        }
       
    }
}

