.home-banner {
    display: flex;
    align-items: center;
    margin-left: 0;
    
    &__title {
        padding: 20px;
        width: 88%;
        font-size: 20px;
        color: #FFFFFF;
        background-image : linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)), url(../../assets/background.png);
        background-size: cover;
        border-radius: 20px;
        margin: 0;
        margin-top: 10px;
        @include marginAuto;
        font-weight: 500;
        @include tablet {
            text-align: center;
            padding: 40px;
            font-size: 24px;
            margin-bottom: 20px;
        }
        @include laptop {
            padding: 50px;
            font-size: 32px;
        }
        @include desktop {
            padding: 70px;
            font-size: 42px;
        }
    }
}