.leftArrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 32px;
    font-size: 45px;
    color: black;
    z-index: 1;
    cursor: pointer;
    @include mobile-500{
        left: 50px;
    }
    @include mobile-650{
        left: 70px;
    }
    @include laptop{
        left: 90px;
    }
    @include desktop {
        left: 110px;
    }
}