.location {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    @include tablet {
    flex-direction: row; 
    flex-wrap: wrap;
    }
    @include laptop {
        width: 88%;
        background-color: #F6F6F6;
        border-radius: 15px;
        @include marginAuto;
        margin-top: 30px;
        padding: 20px;
    }
    &-card {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        @include marginAuto;
        margin: 10px 0;
        position: relative;
        @include tablet {
            width: 50%;
        }
        @include laptop {
            width: 33.33%;
            padding: 10px;
        }
        & a {
            text-decoration: none;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
        &__image {
            display: block;
            @include marginAuto;
            border-radius: 15px;
            object-fit: cover;
            width: 90%;
            height: 180px;
            @include laptop {
                height: 250px;
            }
        }
        &__title {
            display: flex;
            color: white;
            width: 65%;
            font-size: 15px;
            font-weight: 500;
            position: absolute;
            margin-left: 40px;
            @include mobile-500 {
                margin-left: 50px;
                width: 40%;
            }
            @include mobile-650 {
                margin-left: 60px;
            }
            @include tablet {
                margin-left: 60px;
                width: 55%;
                font-size: 16px;
            } 
            @include laptop {
                margin-left: 35px;
                width: 55%;
                font-size: 15px;
            }
            @include desktop {
                margin-left: 35px;
                width: 60%;
                font-size: 18px;
            }
        }
    }
}

.location-card-container {
    position: relative;
    height: 180px;
    @include laptop {
        height: 250px;
    }
}

.gradient {
    display: block;
    @include marginAuto;
    height: 100%;
    width: 90%;
    border-radius: 15px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}

