.rightArrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 32px;
    font-size: 45px;
    color: black;
    z-index: 1;
    cursor: pointer;
    @include mobile-500 {
        right: 50px;
    }
    @include mobile-650 {
        right: 70px;
    }
    @include laptop {
        right: 90px;
    }
    @include desktop {
        right: 110px;
    }
}