.home-banner {
    display: flex;
    align-items: center;
    margin-left: 0;
    filter: brightness(70%);
    
    &__title {
        left: 50px;
        position: absolute;
        width: 217px;
        font-size: 20px;
        color: #FFFFFF;
    }
    &__image {
        height: 111px;
        width: 280px;
        border-radius: 10px;
        object-fit: cover;
        display: block;
        margin-left: auto;
        margin-right: auto;
        
    }
}