.location {
    display: flex;
    flex-direction: column;
    &-card {
        margin: 10px;
        height: 255px;
        left: 0px;
        top: 0px;
        margin-right: auto;
        margin-left: auto;
        background-color: #FF6060;
        border-radius: 10px;
        &__title {
            position: relative;
            color: #FFFFFF;
            bottom: 80px;
            left: 20px;
            width: 200px;
            font-size: 15px;
        }
        &__image {
            
            background: linear-gradient(to bottom, #f96b6b 80%, #843333);
            border-radius: 10px;
            padding: 10px;
            padding-bottom: 80px;
            object-fit: cover;
            width: 280px;
            height: 100%;
        }
    }
}