// Police globale + box-sizing
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    width: 100%;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
}

body {
    max-width: 1440px;
    margin: 0 auto;
}