// Police globale + box-sizing
@font-face {
    font-family: 'Montserrat';
    src: url(../Montserrat-Medium.ttf);
}
* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    width: 100%;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    font-family: Montserrat;
}